.grocerListItem .ant-collapse-content-box {
	background-color: #d9d9d9;
}

.grocerListItem .ant-collapse-header-text,
.grocerListItem .ant-collapse-expand-icon {
	color: #8fb69c;
}

.grocerListItem .ant-collapse-content-box {
	padding-top: 0px !important;
}
