@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	width: 100%;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a,
a:visited {
	text-decoration: none;
	color: black;
}

.green-background {
	background-color: #8fb69c;
}

.header {

		position: fixed;
		top: 50;
		left: 0;
		right: 0;
		z-index: 9999;

}
